.navbar-header {

    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 5%;
    color: #3a5456;

    span {
        font-size: 1.3em;
        font-weight: 600;
    }

    .settings-avatar {

        display: flex;
        justify-content: space-between;
        width: 3em;

    }
}
