<div class="content" role="main">
  <app-sidebar></app-sidebar>

  <div id="main" class="main">
    <app-navbar></app-navbar>

    <div class="progress-tiles ">
      <app-overview-tile>
        <div style="position: absolute; top: 2em; align-items: center; width: 16em;" >
          <span style="font-size: 20px; color: '#748f92'; font-weight: 800;">45</span>
          <span style="font-size: 13px; margin-left: 1em">Total Number of Tasks</span>
        </div>
      </app-overview-tile>
      <app-overview-tile>
        <app-progress-bar [percentage]="54" [value]="14" [strokeColor]="'#5e937e'"
          [context]="'Number of Tasks on Track'"></app-progress-bar>
      </app-overview-tile>
      <app-overview-tile>
        <app-progress-bar [percentage]="30" [value]="8" [strokeColor]="'#bda964'" [context]="'Number of Tasks Delayed'">
        </app-progress-bar>
      </app-overview-tile>
      <app-overview-tile>
        <app-progress-bar [percentage]="16" [value]="4" [strokeColor]="'#a3495a'"
          [context]="'Number of Tasks Significant Delayed'"></app-progress-bar>
      </app-overview-tile>
      <app-overview-tile>
        <app-progress-bar [percentage]="19" [value]="19" [strokeColor]="'#4a5d5e'"
          [context]="'Number of Tasks Completed'"></app-progress-bar>
      </app-overview-tile>
    </div>

    <div class="progress-tiles " style="top: 20% !important;">
      <div class="col-4">
        <app-tasks-distribution></app-tasks-distribution>
      </div>
      <div class="col-4">
        <app-tasks-by-beinex-sectors></app-tasks-by-beinex-sectors>
        <!-- <app-tasks-by-auraa [text]="'Tasks By Beinex Sectors'"></app-tasks-by-auraa> -->
      </div>
      <div class="col-4">
        <app-tasks-by-auraa [text]="'Tasks By Auraa'"></app-tasks-by-auraa>
      </div>
    </div>
  </div>
</div>