
.main {
    width: 95%;
    position: fixed;
    top: 0;
    left: 5%;
    height: 100%;
    padding: 2%;
}


.progress-tiles {
    position: relative;
    top: 12%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}